# Thông tin kết nối Backend WebSocket
WS_SERVER_URL=ws://192.168.1.100:8000/ws/edge

# 0 cho PiCamera hoặc Webcam mặc định, 1 cho external cam
CAMERA_INDEX=0

# Chân GPIO điều khiển Còi báo động (Buzzer)
BUZZER_PIN=18
